.image-container {
    text-align: center;
    margin-top: 50px;
    position: relative;
}

#coverImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    transition: opacity 0.5s ease-in-out;
}

#toggleButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#toggleButton:hover {
    background-color: #45a049;
}

.fade {
    opacity: 0;
}